extends layouts/main.pug
include mixins/videoBlock

block content
    .search__header
        h3 Searching for: #{searchingBy}
    .search__videos
        each item in videos
            //- tag + = + Javascript 변수명
            //- 어떻게 인식하는거지?
            +videoBlock({
                videoFile: item.videoFile,
                title: item.title,                
                views: item.views,
            })